body{
    background-color: #515940;
}

*{
    margin: 0;
    padding: 0;
}

li {
    display:inline-block
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 40px;
    font-style: italic;
    color: #9ca870;
    font-weight: bold;
    font-family: 'Didot';
    text-shadow: -2px -2px 0 #ffffff ;
}

.container{
    max-width: 100%;
    padding: 3%;
    margin: auto;
}

.links{
    list-style: none;
    font-weight: bold;   
    font-family: 'Candara';
}

nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav a{
    padding: 5px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #9ca870;
    text-shadow: -2px -1px 0 #ffffff;
    position: relative;
}

nav a:hover::after{
    width: 100%;
}

.card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.cards{
    margin: 3%;
    width: 20%;
    color: white;
    font-size: 18px;
}

h1{
    text-align: center;
    margin-top: 3%;
    color: #9ca870;
    font-family: 'Didot';
    text-shadow: -2px -1px 0 #ffffff;
}



